
    {{!-- < href="{{post_url}}" target="_blank"> --}}
      {{!-- <a class ="card-link bg-white" href="/post/{{id}}"><h4>{{title}}</a></h4> --}}

<div>

<div class="p-2">
  <h5 class="text-center">{{title}}</h5>
  <p>

    {{content}}</p>

<hr>
    {{vote_count}}
    {{"point"}}
    by 
    <b>{{user.username}}</b>
    on
    {{created_at}}
    |
    <a href="/post/{{id}}">
    <p>
      {{comments.length}}
      <hr></hr>
      {{"comment"}}
    </a>
</p>
  
</div>