
    {{!-- < href="{{post_url}}" target="_blank"> --}}
      {{!-- <a class ="card-link bg-white" href="/post/{{id}}"><h4>{{title}}</a></h4> --}}

      <div class="card-body bg-white rounded-3">

  <p class="bg-white rounded-3">
      <h5>{{title}}</h5>
    {{content}}</p>


    {{vote_count}}
    {{"point"}}
    by 
    {{user.username}}
    on
    {{created_at}}
    |
    <a href="/post/{{id}}">
    <p>
      {{comments.length}}
      <hr></hr>
      {{"comment"}}
    </a>
</p>
  
